/* Description: Master CSS file */

/*****************************************
Table Of Contents:
- General Styles
- Navigation
- Header
- Customers
- Features
- Details 1
- Details 2
- Details 3
- Video
- Testimonials
- Registration
- Footer
- Copyright
- Back To Top Button
- Extra Pages
- Media Queries
******************************************/

/*****************************************
Colors:
- Backgrounds - light gray #f6f6f7
- Buttons, icons - yellow #ffd103
- Buttons - blue #0099ff
- Headings text - navy blue #2b2b4f
- Body text - dark gray #53575a
******************************************/


/**************************/
/*     General Styles     */
/**************************/
body,
html {
    width: 100%;
	height: 100%;
}

body, p {
	color: #53575a; 
	font: 400 1rem/1.625rem "Open Sans", sans-serif;
}

.top-kanan{
	margin-right: 1rem;
	font-size: 14px;
}

h1 {
	color: #2b414f;
	font-weight: 700;
	font-size: 2.5rem;
	line-height: 3.125rem;
	letter-spacing: -0.5px;
}

h2 {
	color: #2b2b4f;
	font-weight: 700;
	font-size: 2rem;
	line-height: 2.5rem;
	letter-spacing: -0.4px;
}

h3 {
	color: #2b2b4f;
	font-weight: 700;
	font-size: 1.75rem;
	line-height: 2.25rem;
	letter-spacing: -0.4px;
}

h4 {
	color: #2b2b4f;
	font-weight: 700;
	font-size: 1.5rem;
	line-height: 2.125rem;
	letter-spacing: -0.4px;
}

h5 {
	color: #2b2b4f;
	font-weight: 700;
	font-size: 1.25rem;
	line-height: 1.75rem;
}

h6 {
	color: #2b2b4f;
	font-weight: 700;
	font-size: 1rem;
	line-height: 1.5rem;
}

.p-large {
	font-size: 1.125rem;
	line-height: 1.75rem;
}

.p-small {
	font-size: 0.875rem;
	line-height: 1.5rem;
}

.testimonial-text {
	font-style: italic;
}

.testimonial-author {
	font-weight: 600;
	font-size: 1rem;
	line-height: 1.5rem;
}

.li-space-lg li {
	margin-bottom: 0.5rem;
}

a {
	color: #53575a;
	text-decoration: underline;
}

a:hover {
	color: #53575a;
	text-decoration: underline;
}

.no-line {
	text-decoration: none;
}

.no-line:hover {
	text-decoration: none;
}

.read-more {
	font-weight: 600;
	font-size: 0.875rem;
	line-height: 1.5rem;
}

.read-more .fas {
	margin-left: 0.625rem;
	font-size: 1rem;
	vertical-align: -8%;
}

.blue {
	color: #0099ff;
}

.bg-gray {
	background-color: #f6f6f7;
}

.btn-solid-reg {
	display: inline-block;
	padding: 1.375rem 2.25rem 1.375rem 2.25rem;
	border: 1px solid #0099ff;
	border-radius: 4px;
	background-color: #0099ff;
	color: #ffffff;
	font-weight: 600;
	font-size: 0.875rem;
	line-height: 0;
	text-decoration: none;
	transition: all 0.2s;
}

.btn-solid-reg:hover {
	border: 1px solid #0099ff;
	background-color: transparent;
	color: #0099ff; /* needs to stay here because of the color property of a tag */
	text-decoration: none;
}

.btn-solid-lg {
	display: inline-block;
	padding: 1.625rem 2.625rem 1.625rem 2.625rem;
	border: 1px solid #0099ff;
	border-radius: 4px;
	background-color: #0099ff;
	color: #ffffff;
	font-weight: 600;
	font-size: 0.875rem;
	line-height: 0;
	text-decoration: none;
	transition: all 0.2s;
}

.btn-solid-lg:hover {
	border: 1px solid #0099ff;
	background-color: transparent;
	color: #0099ff; /* needs to stay here because of the color property of a tag */
	text-decoration: none;
}

.btn-solid-sm {
	display: inline-block;
	padding: 1rem 1.5rem 1rem 1.5rem;
	border: 1px solid #0099ff;
	border-radius: 4px;
	background-color: #0099ff;
	color: #ffffff;
	font-weight: 600;
	font-size: 0.875rem;
	line-height: 0;
	text-decoration: none;
	transition: all 0.2s;
}

.btn-solid-sm:hover {
	border: 1px solid #0099ff;
	background-color: transparent;
	color: #0099ff;
	text-decoration: none;
}

.btn-outline-reg {
	display: inline-block;
	padding: 1.375rem 2.25rem 1.375rem 2.25rem;
	border: 1px solid #0099ff;
	border-radius: 4px;
	background-color: transparent;
	color: #0099ff;
	font-weight: 600;
	font-size: 0.875rem;
	line-height: 0;
	text-decoration: none;
	transition: all 0.2s;
}

.btn-outline-reg:hover {
	background-color: #0099ff;
	color: #ffffff;
	text-decoration: none;
}

.btn-outline-lg {
	display: inline-block;
	padding: 1.625rem 2.625rem 1.625rem 2.625rem;
	border: 1px solid #0099ff;
	border-radius: 4px;
	background-color: transparent;
	color: #0099ff;
	font-weight: 600;
	font-size: 0.875rem;
	line-height: 0;
	text-decoration: none;
	transition: all 0.2s;
}

.btn-outline-lg:hover {
	background-color: #0099ff;
	color: #ffffff;
	text-decoration: none;
}

.btn-outline-sm {
	display: inline-block;
	padding: 1rem 1.5rem 1rem 1.5rem;
	border: 1px solid #0099ff;
	border-radius: 4px;
	background-color: transparent;
	color: #0099ff;
	font-weight: 600;
	font-size: 0.875rem;
	line-height: 0;
	text-decoration: none;
	transition: all 0.2s;
}

.btn-outline-sm:hover {
	background-color: #0099ff;
	color: #ffffff;
	text-decoration: none;
}

.form-group {
	position: relative;
	margin-bottom: 1.25rem;
}

.label-control {
	position: absolute;
	top: 0.875rem;
	left: 1.5rem;
	color: #7d838a;
	opacity: 1;
	font-size: 0.875rem;
	line-height: 1.375rem;
	cursor: text;
	transition: all 0.2s ease;
}

.form-control-input:focus + .label-control,
.form-control-input.notEmpty + .label-control,
.form-control-textarea:focus + .label-control,
.form-control-textarea.notEmpty + .label-control {
	top: 0.125rem;
	color: #53575a;
	opacity: 1;
	font-size: 0.75rem;
	font-weight: 700;
}

.form-control-input,
.form-control-select {
	display: block; /* needed for proper display of the label in Firefox, IE, Edge */
	width: 100%;
	padding-top: 1.125rem;
	padding-bottom: 0.125rem;
	padding-left: 1.5rem;
	border: 1px solid #cbcbd1;
	border-radius: 4px;
	background-color: #ffffff;
	color: #53575a;
	font-size: 0.875rem;
	line-height: 1.875rem;
	transition: all 0.2s;
	-webkit-appearance: none; /* removes inner shadow on form inputs on ios safari */
}

.form-control-select {
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
	height: 3.25rem;
	color: #7d838a;
}

select {
    /* you should keep these first rules in place to maintain cross-browser behavior */
    -webkit-appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    background-image: url('../images/down-arrow.png');
    background-position: 96% 50%;
    background-repeat: no-repeat;
    outline: none;
}

.form-control-textarea {
	display: block; /* used to eliminate a bottom gap difference between Chrome and IE/FF */
	width: 100%;
	height: 14rem; /* used instead of html rows to normalize height between Chrome and IE/FF */
	padding-top: 1.5rem;
	padding-left: 1.5rem;
	border: 1px solid #cbcbd1;
	border-radius: 4px;
	background-color: #ffffff;
	color: #53575a;
	font-size: 0.875rem;
	line-height: 1.5rem;
	transition: all 0.2s;
}

.form-control-input:focus,
.form-control-select:focus,
.form-control-textarea:focus {
	border: 1px solid #a1a1a1;
	outline: none; /* Removes blue border on focus */
}

.form-control-input:hover,
.form-control-select:hover,
.form-control-textarea:hover {
	border: 1px solid #a1a1a1;
}

.checkbox {
	font-size: 0.75rem;
	line-height: 1.25rem;
}

input[type='checkbox'] {
	vertical-align: -10%;
	margin-right: 0.5rem;
}

.form-control-submit-button {
	display: inline-block;
	width: 100%;
	height: 3.25rem;
	border: 1px solid #ffd103;
	border-radius: 4px;
	background-color: #ffd103;
	color: #2b2b4f;
	font-weight: 600;
	font-size: 0.875rem;
	line-height: 0;
	cursor: pointer;
	transition: all 0.2s;
}

.form-control-submit-button:hover {
	border: 1px solid #2b2b4f;
	background-color: #2b2b4f;
	color: #ffffff;
}

.monst{
	font-family: 'Montserrat', sans-serif;
}

@media all and (max-width: 300px) {
	.brand{
		padding-top: 20rem;
		font-family: 'Montserrat', sans-serif;
	}
}
  
@media all and (min-width: 1000px) {
	.brand{
		padding-top: 10rem;
		font-family: 'Montserrat', sans-serif;
	}
}

/**********************/
/*     Navigation     */
/**********************/
.navbar {
	border-bottom: 1px solid #ebf0f3;
	background-color: #ffffff;
	font-weight: 600;
	font-size: 0.875rem;
	line-height: 0.875rem;
}

.navbar .navbar-brand {
	padding-top: 0.25rem;
	padding-bottom: 0.25rem;
}

.navbar .logo-image img {
    width: 96px;
	height: 32px;
}

.navbar .logo-text {
	color: #2b2b4f;
	font-weight: 700;
	font-size: 2rem;
	line-height: 1rem;
	text-decoration: none;
}

.offcanvas-collapse {
	position: fixed;
	top: 3.25rem; /* adjusts the height between the top of the page and the offcanvas menu */
	bottom: 0;
	left: 100%;
	width: 100%;
	padding-right: 1rem;
	padding-left: 1rem;
	overflow-y: auto;
	visibility: hidden;
	background-color: #ffffff;
	transition: visibility .3s ease-in-out, -webkit-transform .3s ease-in-out;
	transition: transform .3s ease-in-out, visibility .3s ease-in-out;
	transition: transform .3s ease-in-out, visibility .3s ease-in-out, -webkit-transform .3s ease-in-out;
}

.offcanvas-collapse.open {
	visibility: visible;
	-webkit-transform: translateX(-100%);
	transform: translateX(-100%);
}

.navbar .navbar-nav {
	margin-top: 0.75rem;
	margin-bottom: 0.5rem;
}

.navbar .nav-item .nav-link {
	padding-top: 0.625rem;
	padding-bottom: 0.625rem;
	color: #2b2b4f;
	text-decoration: none;
	transition: all 0.2s ease;
}

.navbar .nav-item.dropdown.show .nav-link,
.navbar .nav-item .nav-link:hover,
.navbar .nav-item .nav-link.active {
	color: #0099ff;
}

/* Dropdown Menu */
.navbar .dropdown .dropdown-menu {
	animation: fadeDropdown 0.2s; /* required for the fade animation */
}

@keyframes fadeDropdown {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
	}
}

.navbar .dropdown-menu {
	margin-top: 0.5rem;
	margin-bottom: 0.5rem;
	border: none;
	background-color: #ffffff;
}

.navbar .dropdown-item {
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
	color: #53575a;
	font-weight: 600;
	font-size: 0.875rem;
	line-height: 0.875rem;
	text-decoration: none;
}

.navbar .dropdown-item:hover {
	background-color: #ffffff;
	color: #ffd103;
}

.navbar .dropdown-divider {
	width: 100%;
	height: 1px;
	margin: 0.5rem auto 0.5rem auto;
	border: none;
	background-color: #e7e7e7;
}
/* end of dropdown menu */

.navbar .nav-item .btn-solid-sm {
	margin-top: 0.125rem;
}

.navbar .navbar-toggler {
	padding: 0;
	border: none;
	font-size: 1.25rem;
}

.bulat{
	margin-right: 2rem;
}

.review{
	margin-bottom: 5rem;
}

.judul{
	font-size: 32px;
	margin-bottom: 4rem;
}

.p-ckliss{
	font-size: 13px;
}

/*****************/
/*    Header     */
/*****************/
.header {
	padding-top: 20px;
	background-size: cover;
	text-align: center;
}

.header h1 {
	margin-top: -10rem;
	margin-bottom: 1rem;
}

.header .p-large {
	font-size: 24px;
	margin-bottom: 2rem;
	color: #0084ff;
}

.header .p-cklis {
	margin-top: 1rem;
	font-size: 14px;
	/* text-align: left; */
	/* margin-bottom: 1rem; */
}

.header form {
	margin-bottom: 2rem;
}

.header .image-container {
	margin-bottom: 7rem;
}

.header .card {
	margin-bottom: 2rem;
	padding: 3.5rem 1.5rem;
	border: none;
}

.header .card-body {
	padding: 0;
}

.header .card-icon {
	width: 64px;
	height: 64px;
	margin-right: auto;
	margin-bottom: 1rem;
	margin-left: auto;
	border-radius: 4px;
	background-color: #0099ff;
	text-align: center;
}

.header .card-icon .far,
.header .card-icon .fas {
	color: #ffffff;
	font-size: 2rem;
	line-height: 64px;
}

.header .card-title {
	margin-bottom: 0.5rem;
}


/******************/
/*     Footer     */
/******************/
.footer {
	padding-top: 4rem;
	padding-bottom: 4rem;
	background-color: #004ef7;
}

.footer a {
	text-decoration: none;
}

.footer .footer-col {
	margin-bottom: 3rem;
}

.footer h6 {
	margin-bottom: 0.625rem;
	color: #b1b1b1;
}

.footer p,
.footer a,
.footer ul {
	color: #ffffff;
}

.footer .li-space-lg li {
	margin-bottom: 0.375rem;
}

.footer .footer-col.third .fa-stack {
	width: 2em;
	margin-bottom: 1.25rem;
	margin-right: 0.375rem;
	font-size: 1.375rem;
}

.footer .footer-col.third .fa-stack .fa-stack-2x {
	color: #ffffff;
	transition: all 0.2s ease;
}

.footer .footer-col.third .fa-stack .fa-stack-1x {
    color: #ffffff;
	transition: all 0.2s ease;
}

.footer .footer-col.third .fa-stack:hover .fa-stack-2x {
    color: #ffffff;
}

.footer .footer-col.third .fa-stack:hover .fa-stack-1x {
	color: #ffffff;
}


/*********************/
/*     Copyright     */
/*********************/
.copyright {
	padding-bottom: 1rem;
	background-color: #004ef7;
	text-align: center;
}

.copyright p,
.copyright a {
	color: #ffffff;
	text-decoration: none;
}

.grayscale {
  -webkit-filter: grayscale(1); filter: grayscale(1);
}

.rating{
	position: absolute;
	top:50%;
	left: 50%;
	transform: translate(-50%, -50%) rotateY(180deg);
	display: flex;
}
.rating input{
	display: none;
}
.rating label{
	display: block;
	cursor: pointer;
	width: 50px;
	/*background: #ccc;*/
}
.rating label:before{
	content:'\f005';
	font-family: fontAwesome;
	position: relative;
	display: block;
	font-size: 50px;
	color: #101010;
}
.rating label:after{
	content:'\f005';
	font-family: fontAwesome;
	position: absolute;
	display: block;
	font-size: 50px;
	color: #fffa00;
	top:0;
	opacity: 0;
	transition: .5s;
	text-shadow: 0 2px 5px rgba(0,0,0,.5);
}
.rating label:hover:after,
.rating label:hover ~ label:after,
.rating input:checked ~ label:after
{
	opacity: 1;
}

/*********************/
/*     Bagikan     */
/*********************/
.bagikan {
	padding-bottom: 1rem;
	background-color: #f0f0f0;
	/* text-align: center; */
}

/*********************/
/*     Bantuan     */
/*********************/
.bantuan {
	padding-bottom: 1rem;
	background-color: #0084ff;
	/* text-align: center; */
}

.bantuan button{
	background-color: transparent;
    background-repeat: no-repeat;
    /* border: ; */
	border-color: white;
    cursor: pointer;
    overflow: hidden;
    outline: none;
	padding: 8px 30px;
	border-radius: 40px;
	color: white;
}

.kanan{
	margin-left: 1rem;
}

.bantuan p{
	font-size: 30px;
	color: #ffffff;
}
.bantuan a {
	color: #ffffff;
	text-decoration: none;
}


/******************************/
/*     Back To Top Button     */
/******************************/
a.back-to-top {
	position: fixed;
	z-index: 999;
	right: 12px;
	bottom: 12px;
	display: none;
	width: 42px;
	height: 42px;
	border-radius: 30px;
	background: #4d505a url("../images/up-arrow.png") no-repeat center 47%;
	background-size: 18px 18px;
	text-indent: -9999px;
}

a:hover.back-to-top {
	background-color: #ffd103;
}

.tag{
	/* margin-top: -1.5rem; */
}


/***********************/
/*     Extra Pages     */
/***********************/
.ex-header {
	padding-top: 8.5rem;
	padding-bottom: 4rem;
	background: url('../images/header-background.png') center center no-repeat;
	background-size: cover;
}

.ex-basic-1 .list-unstyled .fas {
	font-size: 0.375rem;
	line-height: 1.625rem;
}

.ex-basic-1 .list-unstyled .media-body {
	margin-left: 0.5rem;
}

.ex-basic-1 .text-box {
	padding: 1.25rem 1.25rem 0.5rem 1.25rem;
	background-color: #f6f6f7;
}

.ex-cards-1 .card {
	border: none;
	background-color: transparent;
}

.ex-cards-1 .card .fa-stack {
	width: 2em;
	font-size: 1.125rem;
}

.ex-cards-1 .card .fa-stack-2x {
	color: #0099ff;
}

.ex-cards-1 .card .fa-stack-1x {
	color: #ffffff;
	font-weight: 700;
	line-height: 2.125rem;
}

.ex-cards-1 .card .list-unstyled .media-body {
	margin-left: 0.75rem;
}

.ex-cards-1 .card .list-unstyled .media-body h5 {
	margin-top: 0.125rem;
	margin-bottom: 0.375rem;
}

/***********************/
/*    Pricing     */
/***********************/
.bayi{
	background-color: #ffffff;
}

.tota{
	background-color: #ffffff;
	font-size: 12px;
}

.personal{
	background-color: #00a2ff;
}

.totaa{
	background-color: #0295eb;
	font-size: 12px;
	color: white;
}

.ribbonwrapinner {
	width: 85px; 
	height: 88px; 
	overflow: hidden; 
	position: absolute; 
	left: -2px;
	top: -3px;
	transform: rotate(270deg);
}

.ribbontext {
	font: bold 9.5px Sans-Serif; 
	color: #FFF; 
	text-align: center; 
	-webkit-transform: rotate(45deg); 
	-moz-transform: rotate(45deg); 
	-ms-transform: rotate(45deg); 
	-o-transform: rotate(45deg); 
	position: relative; 
	padding: 7px 0; 
	left: -5px; 
	top: 15px; 
	width: 120px; 
	-webkit-box-shadow: 0px 0px 3px rgba(0,0,0,0.3); 
	-moz-box-shadow: 0px 0px 3px rgba(0,0,0,0.3); 
	box-shadow: 0px 0px 3px rgba(0,0,0,0.3); 
	background: #0c7523; 
	background: -moz-linear-gradient(top, #0c7523 0%, #0c7523 44%, #0c7523 100%); 
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#0c7523), color-stop(44%,#0c7523), color-stop(100%,#0c7523)); 
	background: -webkit-linear-gradient(top, #0c7523 0%,#0c7523 44%,#0c7523 100%); 
	background: -o-linear-gradient(top, #0c7523 0%,#0c7523 44%,#0c7523 100%); 
	background: -ms-linear-gradient(top, #0c7523 0%,#0c7523 44%,#4096ee 100%); 
	background: linear-gradient(to bottom, #0c7523 0%,#0c7523 44%,#0c7523 100%); 
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7abcff', endColorstr='#4096ee',GradientType=0)
}

.ribbontext:before, .ribbontext:after {
	content: ""; 
	border-top: 3px solid #0c7523; 
	border-left: 3px solid transparent; 
	border-right: 3px solid transparent; 
	position:absolute; 
	bottom: -3px
}

.ribbontext:before {
	left: 0;
}

.heading-title{
	margin-bottom: 50px;
}

.pricingTable{
    border: 2px solid #e3e3e3;
    text-align: center;
    position: relative;
    padding-bottom: 40px;
    transform: translateZ(0px);
}

.pricingTable:before,
.pricingTable:after{
    content: "";
    position: absolute;
    top: -2px;
    left: -2px;
    bottom: -2px;
    right: -2px;
    z-index: -1;
    transition: all 0.5s ease 0s;
}

.pricingTable:before{
    border-right: 2px solid #0084ff;
    border-left: 2px solid #0084ff;
    transform: scaleY(0);
    transform-origin: 100% 0 0;
}

.pricingTable:after{
    border-bottom: 2px solid #0084ff;
    border-top: 2px solid #0084ff;
    transform: scaleX(0);
    transform-origin: 0 100% 0;
}

.pricingTable:hover:before{
    transform: scaleY(1);
}

.pricingTable:hover:after{
    transform: scaleX(1);
}

.pricingTable .pricingTable-header{
    background: #ffffff;
	border-bottom: 2px solid #e2e2e2;
    color: #fff;
    /* margin: -2px -2px 35px; */
    padding: 40px 0;
}

.pricingTable .pricingTable-headerr{
    background: #00a2ff;
	border-bottom: 2px solid #00a2ff;
    color: #fff;
    /* margin: -2px -2px 35px; */
    padding: 40px 0;
}

.pricingTable .heading{
    font-size: 30px;
    font-weight: 600;
    margin: 0 0 5px 0;
	color: #252525;
}

.pricingTable .subtitle{
    font-size: 14px;
    display: block;
	color: #252525;
}

.pricingTable .price-value{
    font-size: 72px;
    font-weight: 600;
    margin-top: 20px;
	margin-right: 3rem;
    position: relative;
    display: inline-block;
	color: #252525;
}

.pricingTable .currency{
	font-size: 20px;
    position: absolute;
    bottom: 17px;
    left: -30px;
	color: #252525;
}

.pricingTable .nominal{
    font-size: 20px;
    position: absolute;
    bottom: 17px;
    right: -40px;
	color: #252525;
}

.pricingTable .month{
    font-size: 20px;
    position: absolute;
    bottom: 17px;
    right: -80px;
	color: #252525;
}

.pricingTable .pricing-content{
    list-style: none;
    padding: 0;
    margin-bottom: 30px;
}

.pricingTable .pricing-content li{
    font-size: 16px;
    color: #7a7e82;
    line-height: 40px;
}

.pricingTable .read{
    display: inline-block;
    border: 2px solid #7a7e82;
    border-right: none;
    font-size: 14px;
    font-weight: 700;
    color: #7a7e82;
    padding: 9px 30px;
    position: relative;
    text-transform: uppercase;
    transition: all 0.3s ease 0s;
}

.pricingTable .read:hover{
    border-color: #0084ff;
    color: #0084ff;
}

.pricingTable .read i{
    font-size: 19px;
    margin-top: -10px;
    position: absolute;
    top: 50%;
    right: 15px;
    transition: all 0.3s ease 0s;
}

.pricingTable .read:hover i{
    right: 5px;
}

.pricingTable .read:before,
.pricingTable .read:after{
    content: "";
    display: block;
    height: 30px;
    border-left: 2px solid #7a7e82;
    position: absolute;
    right: -11px;
    transition: all 0.3s ease 0s;
}

.pricingTable .read:before{
    bottom: -6px;
    transform: rotate(45deg);
}

.pricingTable .read:after{
    top: -6px;
    transform: rotate(-45deg);
}

.pricingTable .read:hover:before,
.pricingTable .read:hover:after{
    border-left-color: #0084ff;
}

@media screen and (max-width: 990px){
    .pricingTable{ margin-bottom: 25px; }
}

/*************************/
/*     Media Queries     */
/*************************/	
/* Min-width 768px */
@media (min-width: 768px) {

	/* Header */
	.header .form-group {
		display: inline-block;
		vertical-align: top;
	}
	
	.header .form-control-input {
		width: 16rem;
		border-top-right-radius: 0;
		border-bottom-right-radius: 0;
	}

	.header .form-control-submit-button {
		width: 10rem;
		margin-left: -0.375rem;
		border-top-left-radius: 0;
		border-bottom-left-radius: 0;
	}
	/* end of header */


	/* Features */
	.basic-1 .feature-container {
		margin-right: 2rem;
		margin-left: 2rem;
	}
	/* end of features */


	/* Video */
	.basic-5 .video-wrapper {
		max-width: 534px;
	}
	/* end of video */


	/* Registration */
	.form-1 .form-group {
		max-width: 20rem;
		display: inline-block;
		vertical-align: top;
	}
	
	.form-1 .form-control-input {
		width: 20rem;
		border-top-right-radius: 0;
		border-bottom-right-radius: 0;
	}

	.form-1 .form-control-submit-button {
		width: 10rem;
		margin-left: -0.375rem;
		border-top-left-radius: 0;
		border-bottom-left-radius: 0;
	}

	.form-1 .decoration {
		right: -100px;
	}
	/* end of registration */


	/* Extra Pages */
	.ex-basic-1 .text-box {
		padding: 1.75rem 2rem 0.875rem 2rem;
	}
	/* end of extra pages */
}
/* end of min-width 768px */


/* Min-width 992px */
@media (min-width: 992px) {
	
	/* General Styles */
	.h2-heading {
		width: 35.25rem;
		margin-right: auto;
		margin-left: auto;
	}

	.p-heading {
		width: 46rem;
		margin-right: auto;
		margin-left: auto;
	}
	/* end of general styles */


	/* Navigation */
	.navbar {
		padding-top: 1.75rem;
		border-bottom: none;
		background-color: transparent;
		box-shadow: none;
		transition: all 0.2s;
	}

	.navbar.top-nav-collapse {
		padding-top: 0.5rem;
		padding-bottom: 0.5rem;
		border-bottom: 1px solid #ffffff;
		background-color: #ffffff;
	}

	.offcanvas-collapse {
		position: static;
		top: auto;
		bottom: auto;
		left: auto;
		width: auto;
		padding-right: 0;
		padding-left: 0;
		background-color: transparent;
		overflow-y: visible;
		visibility: visible;
	}

	.offcanvas-collapse.open {
		-webkit-transform: none;
		transform: none;
	}

	.navbar .navbar-nav {
		margin-top: 0;
		margin-bottom: 0;
	}
	
	.navbar .nav-item .nav-link {
		padding-right: 0.75rem;
		padding-left: 0.75rem;
	}

	.navbar .dropdown-menu {
		margin-top: 0.25rem;
		box-shadow: 0 3px 3px 1px rgba(0, 0, 0, 0.05);
	}

	.navbar .dropdown-divider {
		width: 90%;
	}

	.navbar .nav-item .btn-solid-sm {
		margin-top: 0;
		margin-left: 1rem;
	}
	/* end of navigation */


	/* Header */
	.header {
		padding-top: 10rem;
		padding-bottom: 2rem;
		text-align: left;
	}

	.header .text-container {
		margin-top: 3rem;
	}
	
	.header .card {
		display: inline-block;
		width: 290px;
		text-align: center;
		vertical-align: top;
	}
	
	.header .card:nth-of-type(3n+2) {
		margin-right: 1.5rem;
		margin-left: 1.5rem;
	}
	/* end of header */

	/* Footer */
	.footer .footer-col {
		margin-bottom: 2rem;
	}

	.footer .footer-col.first {
		display: inline-block;
		width: 320px;
		margin-right: 1.75rem;
		vertical-align: top;
	}
	
	.footer .footer-col.second {
		display: inline-block;
		width: 320px;
		margin-right: 1.75rem;
		vertical-align: top;
	}
	
	.footer .footer-col.third {
		display: inline-block;
		width: 224px;
		text-align: right;
		vertical-align: top;
	}

	.footer .footer-col.third .fa-stack {
		margin-right: 0;
		margin-left: 0.375rem;
	}
	/* end of footer */


	/* Extra Pages */
	.ex-cards-1 .card {
		display: inline-block;
		width: 296px;
		vertical-align: top;
	}

	.ex-cards-1 .card:nth-of-type(3n+2) {
		margin-right: 1rem;
		margin-left: 1rem;
	}
	/* end of extra pages */
}
/* end of min-width 992px */


/* Min-width 1200px */
@media (min-width: 1200px) {

	/* Header */
	.header {
		overflow-x: hidden;
		padding-top: 10.5rem;
	}

	.header .text-container {
		margin-top: 8.5rem;
		margin-right: 1.5rem;
	}

	.header h1 {
		font-size: 2.875rem;
		line-height: 3.375rem;
	}

	.header .image-container {
		width: 633px;
		margin-bottom: 7.5rem;
		margin-left: 6rem;
	}

	.header .card {
		width: 350px;
		padding: 4rem 2.25rem;
	}
	/* end of header */


	/* Details 1 */
	.basic-2 .text-container {
		margin-top: 7.5rem;
	}

	.basic-2 .image-container {
		margin-left: 4rem;
	}
	/* end of details 1 */


	/* Details 2 */
	.basic-3 .image-container {
		margin-right: 4rem;
	}

	.basic-3 .text-container {
		margin-top: 7.5rem;
	}
	/* end of details 2 */


	/* Details 3 */
	.basic-4 .text-container {
		margin-top: 7.5rem;
	}

	.basic-4 .image-container {
		margin-left: 4rem;
	}
	/* end of details 3 */


	/* Video */
	.basic-5 .text-container {
		margin-top: 4.5rem;
		margin-right: 6rem;
	}

	.basic-5 .video-wrapper {
		margin-right: 0;
		margin-left: auto;
	}
	/* end of video */


	/* Testimonials */
	.slider-2 .swiper-button-prev {
		left: -24px;
	}
	
	.slider-2 .swiper-button-next {
		right: -24px;
	}
	/* end of testimonials */


	/* Registration */
	.form-1 .decoration {
		bottom: -70px;
		width: 500px;
	}
	/* end of registration */


	/* Footer */
	.footer .footer-col.first {
		width: 352px;
		margin-right: 6rem;
	}
	
	.footer .footer-col.second {
		margin-right: 6.5rem;
	}
	
	.footer .footer-col.third {
		text-align: right;
	}
	/* end of footer */


	/* Extra Pages */
	.ex-cards-1 .card {
		width: 336px;
	}

	.ex-cards-1 .card:nth-of-type(3n+2) {
		margin-right: 2.875rem;
		margin-left: 2.875rem;
	}
	/* end of extra pages */
}
/* end of min-width 1200px */
